<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Registro de Produccion</h1>
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <div class="label">Lunes</div>
                        <input type="number" id="inpLunes" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="label">Martes</div>
                        <input type="number" id="inpMartes" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="label">Miercoles</div>
                        <input type="number" id="inpMiercoles" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="label">Jueves</div>
                        <input type="number" id="inpJueves" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="label">Viernes</div>
                        <input type="number" id="inpViernes" class="form-control">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <div class="label">Sabado</div>
                        <input type="number" id="inpSabado" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-outline-success btn-block" id="btnCalcular">Calcular</button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <div class="alert alert-success" id="alertIncentivos">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./../js/app.js"></script>
</body>

</html>